.topDeskNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sideDeskNav {
  display: flex;
  flex-direction: column;
}

.bottomMobNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
