.container {
  display: flex;
  flex-direction: row;
}

.sideNavItem {
  display: flex;
  flex-direction: row;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.serachSetting {
  display: flex;
  flex-direction: row;
}

.leftWrapper {
  flex-grow: 1;
}
